.my{
    margin: 5rem 0;
}
.servicios{
    background: rgb(23,51,73);
    background: linear-gradient(71deg, rgba(23,51,73,1) 30%, rgba(88,140,188,1) 70%);
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 12rem 5rem 3rem 5rem;
    border-radius: 20px;
}
.servicios-img{
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 0;
    width: 80%;
}

@media(width<=768px){
    .servicios{
        display: block;
    }
}
@media(width<=550px){
    .servicios{
        padding: 0;
    }
    .container{
        width: inherit;
    }
    .mb-2{
        font-size: 18px;
    }
}

.servicios-box1{
    height: 100%;
    z-index: 2;
    position: relative;
}

.servicios-box2{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.servicios-texto{
    font-size: 12px;
}
.servicios-titulo{
    margin-bottom: 3rem;
    color: rgb(221, 220, 200);
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 300;
}

.grid-mid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(4, 100px);
}
.cont-img img{
    height: 100%;
    width: 100%;
}
.cont1{
    grid-row: 1/3;
    overflow: hidden;
}
.img-cont1{
    position: relative;
    left: -50px;
    border-radius: 0 10px 10px 0;
}
.cont2{
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
    text-align: center;
}
.cont2 h3{
    margin: 2rem 0;
}
.estrella{
    width: 50px;
    margin: 0 auto;
}
.cont3{
    overflow: hidden;
    grid-row: 3/5;
    grid-column: 3/4;
}
.img-cont3{
    position: relative;
    left: 50px;
    border-radius: 10px 0px 0px 10px;
}








.atencion-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
@media(width<=768px){
    .atencion-grid{
        display: block;
    }
}
.atencion-img{
    display: flex;
    justify-content: end;
}
.atencion-img img{
    filter: drop-shadow(5px 5px 15px black);
    height: 610px;
    
}
.atencion-textos{
    padding: 3rem 0;
    width: 75%;
    margin: 0 auto;
}
.atencion-textos h3{
    color: #2d405a;
}
.hr{
    border: 2px solid #8B0E0E;
    width: 30%;
    margin-bottom: 2rem;
}
.atencion-descripcion{
    margin-top: 2rem;
    line-height: 1.7;
}
