
/* General Styles */
*{
    margin: 0;
    padding: 0;
}
.editandoParaExamen{
    font-size: 20px;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before, *::after{
 box-sizing: inherit;
}

/* globales */

h1,h2,h3,h4{
    font-weight: 900;
    text-align: center;
}
h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
    color: black;
    text-align: center;
}
h3{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    color: black;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

.contenedor {
    max-width: 1400px;
    width: 92%;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgray;
    margin-bottom: 2rem;
    box-shadow: 2px 3px 15px;
    border-radius: 20px;
    margin-top: 4rem;
}

.enlace-habitaciones{
    color: #8B0E0E !important;
}


.habitacion{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 3rem;
    column-gap: 2rem;
}


@media(width<=768px){
    .habitacion{
        display: block;
    }
}


@media(width<=450px){
    .contenedor-descripcion div{
        display: block;
    }
}


/* espacio habitaciones */
.grid-habitaciones div{
    margin: 5px 0;
}
@media(width>400px){
    .grid-habitaciones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 200px;
        gap: 5px;
    }
    .grid-habitaciones div{
        margin: 0;
    }
}

.img-habitacion{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subtitulo-habitacion{
    font-family: "Playfair Display", serif;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 700;
}
.descripcion-habitacion{
    padding: 1rem 2rem;
}
/* posicionamiento imagenes */
.vc1{
    grid-column: 1 / 3;
}

@media(width<1200px){
    .habitacion{
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
    }
}
@media(width<769px){
    .grid-md{
        display: block;
    }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.disponible{
    background-color: #10b981;
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 15px;
}
.Nodisponible{
    background-color: rgb(141, 22, 22);
    color: white;
    padding: 10px;
}
.verObjDisponibles{
    width: 100%;
    display: flex;
    justify-content: center;
}
.habitacion__descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin-top: 3rem;
}

.habitacion__descripcion div, .habitacion__descripcion form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: inherit;
}

.btn-reservar{
    background-color: #292524;
    color: white;
    width: 200px;
    padding: 5px 0;
    border: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
}


/* formulario */
.formulario_dato{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}
.btn-disponibilidad{
    border: none;
    background-color: #4c0519;
    color: white;
    padding: 8px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btn-disponibilidad:hover{
    transform: scale(1.1);
}
@media(width<400px){
    .cabecera-navegacion{
        display: block;
    }
    header{
        position: static;
    }
    .img-logo{
        width: 150px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
}
.no-usable{
    opacity: 0.5;
    pointer-events: none; 
    cursor: not-allowed;
}