.container-all{
    display: grid;
    grid-template-columns: 15% 85%;
    background: rgb(233,237,246);
    background: linear-gradient(149deg, rgba(233,237,246,1) 30%, rgba(200,209,252,1) 70%);
    padding: 1rem;
    column-gap: 5px;
}

aside div{
    border-radius: 0px 100px 0 60px;
    overflow: hidden;
    display: block;
    height: 85%;
}
.img-aside{
    height: 100%;
}
.contenedor-crud{
    padding: 0rem;
}
.contenedor-formulario-crud{
    width: 100%;
}
.logo-panel{
    width: 120px;
    height: 80px;
    margin: 0 auto;
}
.form-crud{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.label-crud{
    font-size: 13px;
    margin-bottom: 3px;
}
.titulo{
    background-color: rgb(35, 73, 117);
    text-align: center;
    color: white;
}
.informacion-reservas{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 10px;
}
.informacion-reservas h5:first-child{
    border-radius: 10px 0 0 10px;
}
.informacion-reservas h5:nth-child(9){
    border-radius: 0 10px 10px 0;
}
.informacion-reservas h5:nth-child(10){
    background-color: transparent;
}
.informacion-reservas h5{
    padding: 1rem 0;
}
.informacion-reservas div{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field-numeroHabitacion{
    width: 25px;
}
.indice{
    display: grid;
    grid-template-columns: 5% 8% 12% 10% 20% 10% 10% 8% 17%;
    background-color: #3855d8;
    padding: 6px 0;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    margin: 10px auto;
}

.propiedad{
    font-size: 14px;
}
.componenteReserva{
    display: grid;
    grid-template-columns: 5% 8% 12% 10% 20% 10% 10% 8% 17%;
    text-align: center;
    margin: 40px 10px;
    background-color: white;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(172, 172, 172, 0.466);
}
@media(width<=800px){
    .componenteReserva{
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3, 50px);
        padding: 10px;
    }
}
.btn-crud{
    padding: 0.5rem 1rem;
    background-color: green;
    border: transparent;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}
.btn-crud:hover{
    background-color: rgb(3, 119, 3);
}
.section-valores{
    padding: 0px 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 2rem;
    height: 70vh;
}
@media(width<=400px){
    .btns-crud{
        grid-column: 1/3;
        margin: 0 auto;
        margin-top: 15px;
    }
}
@media(width <=1380px ){
    .componenteReserva{
        margin: 16px 0;
    }
}
@media(width<=768px){
    .container-all{
        display: block;
    }
    .img-aside{
        display: none;
    }
    .form-crud{
        display: block;
    }
    .section-valores{
        height: 100%;
    }
}
