
.btn-editar-reserva{
    width: 100%;
    background-color: rgb(13 62 112);
    border: none;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.btns-crud{
    display: flex;
    gap: 5px;
}
.btn-editar{
    background-color: #eab308;
    color: white;
    padding: 5px 10px;
}
.btn-eliminar{
    background-color: #991b1b;
    color: white;
    padding: 5px 10px;
}
.btn-crear{
    background-color: rgb(16, 112, 16);
    color: white;
    padding: 5px 10px;
}