
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}


li{
    list-style: none;
}

h2{
    font-size: 3.6rem;
}
.subtittle{
    text-align: center;
    margin-bottom: 1rem;
}
h3{
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}
h4{
    font-size: 2.2rem;
}
p{
    font-size: 2rem;
}

.section-contacto {
    /* background-image: url(./images/fondoContacto.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}
.mapa{
    width: 90%;
    margin: 3rem auto;
    box-shadow: 2px 1px 20px black;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}
p {
    font-size: 2rem;
}
.contenedor-formulario {
    max-width: 500px;
    background-color: #fcfafa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(253, 250, 250, 0.1);
    padding: 1rem 3rem;
    margin: 0 2rem;
}

.subtittle {
    text-align: center;
    margin-bottom: 1rem;
}

.subtittle {
    text-align: center;
    margin-bottom: 1rem;
}
h2 {
    font-size: 3.6rem;
}
.horario-dias{
    color: white;
}
.form-contacto{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
}
input, textarea{
    width: 100%;
}
.campo {
    margin-bottom: 20px;
}
.campo label {
    display: block;
    margin-bottom: 5px;
    font-size: 2rem;
}

.campo button {
    background-color: #8B0E0E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.contenedor {
    max-width: 1400px;
    width: 92%;
    margin: 0 auto;
    padding: 20px;
}

@media(width<=420px){
    .section-contacto{
        display: block;
    }
    .section-atencion h2{
        font-size: 20px;
        margin-top: 20px;
    }
}
.descripcion{
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Estilos para hacer que el mapa sea responsive */
iframe {
    width: 100%;
    border-radius: 20px;
}


.horario-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 5rem;
}
@media(width<=600px){
    .horario-flex{
        display: block;
        padding: 0;
    }
}
.horario{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .horario{
        width: 100%;
    }
    .section-atencion{
        margin: 10px 0;
    }
}
.horario-dias{
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
}
.linea{
    background-color: #8B0E0E;
    height: 3px;
    border: transparent;
    width: 60%;
    margin: 1rem auto;
}
